/* LAYOUT & DISPLAY */
html,
body,
#root{
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.navbar {
  border-radius: 0 !important;
}
.body {
   flex: 1;
   display: flex;
   overflow-x: auto;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  overflow: auto;
}
.column-stretch {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: center;
}

.row-stretch{
  display: flex;
  flex: 1;
  flex-direction: row;
}

h1.title{
    color: #343A40;
    padding-top: 20px;
    opacity: .8;
    align-self: center;
  }
  
  .disconnected{
    background-color:red 
  }
  
  .connected{
    background-color:green 
  }